@import "../../static/scss/TiCat.scss";

#auth-view {

  position: relative;
  height: 100%;
  background-color: $background-color;
  color: $inverse-text-color;

  .hero {

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

}